@import "../css-config/mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@600&display=swap');
.content {
  background: #050505;
  padding: 2.7rem 9.4rem;
  @include md{
    padding: 2.7rem 5.4rem;
  }
  @include sm{
    padding: 2.7rem 2.4rem;
  }
  
}
.content-body{
    display: flex;
    gap: 1rem;
    height: 80vh;
}
.container-people{
    border-radius: 10px;
    border: 1px solid rgba(141, 153, 218, 0.00);
    background: #181818;
    width: 40%;
    height: 100%;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

.card1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #7F8781;
    font-family: 'Poppins';
}
.card1 .heading{
font-style: normal;
font-weight: 400;
}
.chat-img{
display: flex;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 10px;
background: #F3AE9F;
}
.card1 .desc {
   color:  #ffffffd0;
    font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 140%; 
}
.people{
    display: flex;
gap: 1rem;
align-items: center;
}
.people:hover{
    cursor: pointer;
    background-color: #7f878133;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 0.5rem;
}
.card2{
    display: flex;
    gap: 1rem;
}
.create-New{
    background-color: #181818;
    color: #ffffffd0;
    font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 120%;
border: none;
}
.people-line{
    border: 0.5px solid  #ffffff90;
}
.container-chats{
    border-radius: 10px;
    border: 1px solid rgba(141, 153, 218, 0.00);
    background: #181818;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
color: #ffffffed;

}
.card-header{
    background-color: #2F2F2F;
    display: flex;
border-radius: 10px;
padding: 0.5rem 1rem;
justify-content: space-between;

}
.addicon
{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.back{
    display: flex;
    align-items: center;
    gap: 0.2rem;
}
.Delete{
    display: flex;
    align-items: center;
    gap: 0.2rem;
}
.selected{
    display: flex;
gap: 1rem;
align-items: center;
}
.card-wrapper{
    height: 100%;
}
.card-body{
    height: 75%;
}
.card-footer{
    display: flex;
    padding: 1.5rem;
    justify-content: space-between;
}
.input-text{
    display: flex;
width: 90%;
padding: 12px 16px 12px 20px;
align-items: center;
gap: 10px;
border-radius: 70px;
background: #2F2F2F;
color: #ffffffdd;
}
.message-img{
    display: inline-flex;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 29px;
background: #F3AE9F;
}
.message{
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.other{
    flex-direction: row-reverse;
}
.user-input{
    display: flex;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 12px 12px 12px 0px;

background:  #2F2F2F;
}
.other-input{
    display: flex;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 12px 12px 0px 12px;
background: #F3AE9F;
color:#050505;
}
.hide-container {
    display: none;
  }
  
  .full-width {
    width: 100%;
  }